# Dependencies
node_modules/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Build files
dist/
build/

# ZIP und Archive
*.zip
*.tar.gz
*.rar

# Environment variables
.env
.env.local
